
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block content
  .row
    .sidebar
      nav(role='complementary' data-spy='affix' data-offset-top='250' data-offset-bottom='175')
        - var path = page.filepath.relative.replace('index.md', 'toc.md').split('/')
        - var obj = null, last = {}
        each p in path
          - if( !obj ) { obj = contents[p]; last = obj }
          - else last = last[p]
        != last.html.replace('<ul>', '<ul class="nav">').replace('<li>', '<li class="active">').replace(/href="[^#]*(#[^"]+)"/g, 'href="$1"')

    article.article(role='main')
      section.content!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    a(href=contents.index.url) « Back
    a(href='#content' id='top') ↑ Top

block scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/shortcuts/sticky-elements/waypoints-sticky.min.js')
  script(src='/js/p.js')
